.page{
    width: 100%;
}
.header{
    width: 100%;
    font-weight: bold;

    text-align: center;
    border: black solid 2px;
    box-shadow: 4px 5px 2px 2px rgba(63,21,136,0.45);
}
.main{
    text-align: center  ;
    width: auto;
    padding: 10px;
    margin: 2%;
}
.user_tag {
    width:auto;
    height: auto;
    box-shadow: 4px 4px 5px 5px black;
    display: flex;
    color: #cc1111;
}
.headings{
    height: auto;
    border: black solid;
    width: 50%;
    font-size: x-large;
}
.data{
    height: auto;
    border: black solid;
    box-sizing: content-box;
    text-align: center;
    width: 50%;
    font-size: x-large;
}